<p id="notice"><%= notice %></p>

<section class="search">
  <%= image_tag("helpjuice.png", height: 40) %>
  <h2>Search analytics</h2>

  <%= form_for :search, url: "/searches", method: :post do |f| %>
    <%= f.text_field :title, id: 'searchInputField', name: 'title' %>
    <%= f.submit 'Search' %>
  <% end %>

  <% if @articles.length > 0 %>
    <% @articles.each do |article| %>
      <ul>
      <li><%= link_to article.title.capitalize, article_path(article) %> (<%= article.searches.count.present? ? article.search_count : 0 %>)</li>
    </ul>
    <% end %>
  <% end %>
</section>